<body style="height: 800px; min-height: 800px; max-height: 800px;">
    <div class="parentLanding">
        <div class="child1Landing">
        </div>
        <div class="child1Landing child2Landing">
            <img [src] = "path" height="60 px" width="150" style="margin-top: 8px;">
            <a (click)="toggleProfile()" class="header1Landing">
                <img [src] = "profilePic" class="profileLanding" id="icon">
            </a>
            <a href="http://localhost:4200/home" class="header2Landing">Courses</a>
        </div>
    </div>
    <div class="parent2Landing">
        <!-- In the future, swap with actual username -->
        <h1 class="welcomeLanding">Hello Ben,</h1>
        <p class="welcomeSubtextLanding">Choose a subject below to begin learning</p>
        <div>
            <mat-card appearance="outlined" class="cardDS" style="background-color: black;">
                <a href="http://localhost:4200/ds" class="landingLink">
                    <img id="imageDS" [src]="pathDS" class="homeImage">
                    <div class="cardTextDSLanding">
                        <p>Data Structures</p>
                        <svg class="svgLanding">
                            <circle r="42" cx="52" cy="52" fill="transparent" stroke="#e0e0e0" stroke-width="2px"></circle>
                            <circle r="42" cx="52" cy="52" stroke="#4CAF41" stroke-width="2px" stroke-linecap="round" stroke-dashoffset="79px" fill="transparent" stroke-dasharray="263.76px"></circle>
                            <text x="34px" y="58px" fill="#d6d6d6" font-size="19px" style="transform:rotate(90deg) translate(0px, -100px)" font-family="Arial">70%</text>
                        </svg>
                    </div>
                </a>
            </mat-card>
        </div>
        <div>
            <mat-card appearance="outlined" class="cardA" style="background-color: black;">
                <a href="http://localhost:4200/a" class="landingLink">
                    <img id="imageA" [src]="pathA" class="homeImage">
                    <div class="cardTextALanding">
                        <p>Algorithms</p>
                        <svg class="svgLanding">
                            <circle r="42" cx="52" cy="52" fill="transparent" stroke="#e0e0e0" stroke-width="2px"></circle>
                            <circle r="42" cx="52" cy="52" stroke="#4CAF41" stroke-width="2px" stroke-linecap="round" stroke-dashoffset="79px" fill="transparent" stroke-dasharray="240.76px"></circle>
                            <text x="34px" y="58px" fill="#d6d6d6" font-size="19px" style="transform:rotate(90deg) translate(0px, -100px)" font-family="Arial">63%</text>
                        </svg>
                    </div>
                </a>
            </mat-card>
        </div>
        <app-profilebar></app-profilebar>
    </div>
    <app-infobar></app-infobar>
</body>