<body>
    <div class="parent">
        <div class="child1">
        </div>
        <div class="child1 child2">
            <img [src] = "path" height="60 px" width="150" style="margin-top: 8px; margin-left: 30px;">
            <a href="" class="headerText" style="left: -70px;">Leetcode Practice</a>
            <a href="" class="headerText" style="left: -70px;">Algorithms</a>
            <a href="" class="headerText" style="left: -70px;" id="dsid">Data Structures</a>
        </div>
        <div class="child3 hidden1" id="ds0">
        </div>
        <div class="child3 child4 hidden1" id="ds1">
            <ul class="horizontal-list">
                <li>
                    <ul>
                        <li style="font-size: 30px; color: rgb(135, 135, 135);">Arrays</li>
                        <li>Array</li>
                        <li>Array-List</li>
                        <li>Circular Array</li>
                        <li style="font-size: 30px; color: rgb(135, 135, 135); margin-top: 25px;">Linked Lists</li>
                        <li>Singly Linked List</li>
                        <li>Doubly Linked List</li>
                        <li>Circular Linked List</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li style="font-size: 30px; color: rgb(135, 135, 135);">Stacks/Queues</li>
                        <li>Stack</li>
                        <li>Queue</li>
                        <li>Dequeue</li>
                        <li style="font-size: 30px; color: rgb(135, 135, 135); margin-top: 25px;">Heap/Priority Queue</li>
                        <li>Min/Max Heap</li>
                        <li style="font-size: 30px; color: rgb(135, 135, 135); margin-top: 25px;">Tries</li>
                        <li>Prefix Tree</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li style="font-size: 30px; color: rgb(135, 135, 135);">Trees</li>
                        <li>Recursion</li>
                        <li>Binary Search Trees</li>
                        <li>AVL Tree</li>
                        <li>Fenwick Tree</li>
                        <li style="font-size: 30px; color: rgb(135, 135, 135); margin-top: 25px;">Hashmaps</li>
                        <li>Closed Addressing</li>
                        <li>Open Addressing</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</body>