.parent {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(37, 37, 37);
}
a {
    position: relative;
    text-decoration: none;
}
a:after {
    content: "";
    display: block;
    background-color: rgb(50, 184, 184);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
}
.showBar:after {
    width: 100%;
}
.showBar2:hover:after {
    width: 100%;
}

.child1 {
    background-color: black;
    position: absolute;
    width: 100vw;
    height: 70px;
    min-height: 70px;
    top: auto;
    left: 0;
    opacity: 0.5;
}
.child2 {
    color: rgb(250, 248, 248);
    width: 100vw;
    height: 70px;
    min-height: 70px;
    opacity: 1;
    z-index: 1;
    background: none;
}
.headerText {
    color: rgb(250, 248, 248);
    height: 8vh;
    font-size: 25px;
    margin-top: 22px;
    position: relative;
    float: right;
    margin-right: 100px;
}
.child3 {
    position: absolute;
    width: 100vw;
    height: 380px;
    min-height: 380px;
    margin-top: 90px;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: black;
}

.child4 {
    position: absolute;
    color: rgb(250, 248, 248);
    width: 100vw;
    height: 380px;
    min-height: 380px;
    margin-top: 90px;
    opacity: 1;
    background: none;
}
.horizontal-list {
    list-style-type: none;
    margin-top: -20px;
    padding: 0;
    display: flex;
    margin-left: 40px;
    font-size: 20px;
    width: 1663px;
    min-width: 1663px;
    justify-content: center;

}

ul.horizontal-list li {
    margin-right: 400px;
    width: 50px;
    text-wrap: nowrap;
    margin-top: 12px;
    list-style-type: none;
    color: rgb(229, 227, 227);
  }

  .child6 {
    position: absolute;
    width: 100vw;
    height: 420px;
    min-height: 420px;
    margin-top: 90px;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: black;
}

.child7 {
    position: absolute;
    color: rgb(250, 248, 248);
    width: 1703px;
    height: 420px;
    min-height: 420px;
    margin-top: 90px;
    opacity: 1;
    background: none;
}
.horizontal-list2 {
    list-style-type: none;
    margin-top: -30px;
    padding: 0;
    display: flex;
    font-size: 17px;
    width: 1663px;
    min-width: 1663px;
    margin-left: 40px;
    justify-content: center;

}

ul.horizontal-list2 li {
    margin-right: 385px;
    width: 50px;
    text-wrap: nowrap;
    margin-top: 12px;
    list-style-type: none;
    color: rgb(229, 227, 227);
  }

.hidden1 {
    opacity: 0;
    transform: translateY(-4%);
    transition: all 0.3s;
}
.show0 {
    opacity: 0.5;
}
.show1 {
    opacity: 1;
    transform: translateY(0%);
    transition: all 1s;
}