.parent {
    position: relative;
    width: 100vw;
    height: 70px;
    max-width: 100%;
    max-height: 100%;
    background-color: black;
}
a {
    position: relative;
    text-decoration: none;
}
a:after {
    content: "";
    display: block;
    background-color: rgb(50, 184, 184);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
}
.showBar:after {
    width: 100%;
}
.showBar2:hover:after {
    width: 100%;
}

.child1 {
    overflow: hidden;
    background-color: black;
    position: absolute;
    width: 100vw;
    max-width: 100%;
    height: 70px;
    min-height: 70px;
    top: auto;
    left: 0;
    opacity: 0.5;
    max-height: 70px;
    border-bottom: solid rgb(216, 214, 214) 1px;
}
.child2 {
    overflow: hidden;
    color: rgb(250, 248, 248);
    width: 100vw;
    max-width: 100%;
    height: 70px;
    min-height: 70px;
    opacity: 1;
    z-index: 1;
    background: none;
}
.headerText {
    color: rgb(216, 214, 214);
    height: 70px;
    min-height: 70px;
    font-size: 25px;
    margin-top: 22px;
    position: relative;
    float: right;
    margin-right: 100px;
    overflow: hidden;
}
.child3 {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    height: 380px;
    min-height: 380px;
    margin-top: 90px;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: black;
    overflow: hidden;
}
.divDS {
    display: flex; 
    justify-content: center;
}
.divA {
    display: flex; 
    justify-content: center;
}
.welcome {
    color: rgb(237, 237, 237);
    position: absolute;
    margin-top: 40px;
    margin-left: 250px;
    font-size: 55px;
}
.welcomeSubtext {
    color: rgb(162, 156, 156);
    position: absolute;
    margin-top: 102px;
    margin-left: 250px;
    font-size: 18px;
}
.cardDS {
    color: rgb(237, 237, 237);
    position: relative;
    width: 680px;
    margin-top: 180px;
    height: 280px;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(250, 248, 248);
    transition: transform .5s ease;
}
.cardA {
    color: rgb(237, 237, 237);
    position: absolute;
    width: 680px;
    margin-top: 80px;
    height: 280px;
    background-color: rgb(43, 43, 43);
    border: 1px solid rgb(250, 248, 248);
}
.cardTextDS {
    color: rgb(237, 237, 237);
    font-size: 55px;
    position: relative;
    text-align: center;
    bottom: 203px;
    text-shadow: 1px 1px 2px black, 0 0 25px black;
    backdrop-filter: blur(0.5px);
}
.cardTextA {
    color: rgb(237, 237, 237);
    font-size: 50px;
    text-align: center;
    position: relative;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}
.parent2 {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 1300px;
    min-height: 900px;
    overflow: hidden;
}
video {
    filter: drop-shadow(10px);
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter: blur(1.2px);
}
svg {
    position: absolute;
    transform:rotate(-90deg);
    right: -105px;
    top: -25px;
}
.cardDS:hover {
    transform: scale(1.02);
    transition: transform .5s ease;
  }