<body>
    <div class="parent">
        <div class="child1">
        </div>
        <div class="child1 child2">
            <img [src] = "path" height="60 px" width="150" style="margin-top: 8px; margin-left: 30px;">

            <a href="" class="headerText showBar2" style="left: -70px;">Leetcode Practice</a>
            <a href="" class="headerText" style="left: -70px;" id="aid">Algorithms</a>
            <a href="" class="headerText" style="left: -70px;" id="dsid">Data Structures</a>
        </div>
        <div class="child3 hidden1" id="ds0">
        </div>
        <div class="child3 child4 hidden1" id="ds1">
            <ul class="horizontal-list">
                <li>
                    <div>
                        <ul>
                            <li style="font-size: 30px; color: rgb(135, 135, 135);">Arrays</li>
                            <li>Array</li>
                            <li>Array-List</li>
                            <li>Circular Array</li>
                            <li style="font-size: 30px; color: rgb(135, 135, 135); margin-top: 25px;">Linked Lists</li>
                            <li>Singly Linked List</li>
                            <li>Doubly Linked List</li>
                            <li>Circular Linked List</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div>
                        <ul>
                            <li style="font-size: 30px; color: rgb(135, 135, 135);">Stacks/Queues</li>
                            <li>Stack</li>
                            <li>Queue</li>
                            <li>Dequeue</li>
                            <li style="font-size: 30px; color: rgb(135, 135, 135); margin-top: 25px;">Heap/Priority Queue</li>
                            <li>Min/Max Heap</li>
                            <li style="font-size: 30px; color: rgb(135, 135, 135); margin-top: 25px;">Tries</li>
                            <li>Prefix Tree</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div>
                        <ul>
                            <li style="font-size: 30px; color: rgb(135, 135, 135);">Trees</li>
                            <li>Recursion</li>
                            <li>Binary Search Trees</li>
                            <li>AVL Tree</li>
                            <li>Fenwick Tree</li>
                            <li style="font-size: 30px; color: rgb(135, 135, 135); margin-top: 25px;">Hashmaps</li>
                            <li>Closed Addressing</li>
                            <li>Open Addressing</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="child6 hidden1" id="a0">
        </div>
        <div class="child6 child7 hidden1" id="a1">
            <ul class="horizontal-list2">
                <li>
                    <div>
                        <ul>
                            <li style="font-size: 28px; color: rgb(135, 135, 135);">Divide and Conquer</li>
                            <li>Master Theorem</li>
                            <li>Binary Search</li>
                            <li>Merge Sort</li>
                            <li>Quick Sort</li>
                            <li style="font-size: 28px; color: rgb(135, 135, 135); margin-top: 17px;">Pattern Matching</li>
                            <li>KMP (Knuth-Morris-Pratt)</li>
                            <li>Boyer Moore</li>
                            <li>Rabin Karp</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div>
                        <ul>
                            <li style="font-size: 28px; color: rgb(135, 135, 135);">Sorting</li>
                            <li>Selection Sort</li>
                            <li>Insertion Sort</li>
                            <li>Bubble Sort</li>
                            <li>Radix Sort</li>
                            <li>Heap Sort</li>
                            <li style="font-size: 28px; color: rgb(135, 135, 135); margin-top: 17px;">Prefix Sum/Sliding Window</li>
                            <li>1-D Prefix Sum</li>
                            <li>2-D Prefix Sum</li>
                            <li>Sliding Window Algorithms</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div>
                        <ul>
                            <li style="font-size: 28px; color: rgb(135, 135, 135);">Graphs</li>
                            <li>DFS (Depth-First Search)</li>
                            <li>BFS (Breadth-First Search)</li>
                            <li>Topological Sort</li>
                            <li style="font-size: 28px; color: rgb(135, 135, 135); margin-top: 17px;">Shortest Path Algorithms</li>
                            <li>Dijkstras</li>
                            <li>Bellman-Ford</li>
                            <li>Floyd-Warshall</li>
                            <li>Shortest Path in a DAG</li>
                            <li style="font-size: 28px; color: rgb(135, 135, 135); margin-top: 17px;">Strongly Connected Components</li>
                            <li>Strongly Connected Component Algorithm</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div>
                        <ul>
                            <li style="font-size: 28px; color: rgb(135, 135, 135);">Dynamic Programming</li>
                            <li>String DP</li>
                            <li>LIS (Longest Increasing Sub-sequence)</li>
                            <li>Knapsack</li>
                            <li>Chain Matrix Multiplication</li>
                            <li>Bitmask DP</li>
                            <li style="font-size: 28px; color: rgb(135, 135, 135); margin-top: 17px;">Greedy</li>
                            <li>Greedy Algorithms</li>
                            <li style="font-size: 28px; color: rgb(135, 135, 135); margin-top: 17px;">Minimum Spanning Tree</li>
                            <li>Kruskals Algorithm</li>
                            <li>Prims Algorithm</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>