<body>
    <div class="parentA">
        <div class="child1A">
        </div>
        <div class="child1A child2A">
            <img [src] = "path" height="60 px" width="150" style="margin-top: 8px;">
            <a (click)="toggleProfile()" class="header1A">
                <img [src] = "profilePic" class="profileA" id="icon">
            </a>
            <a href="http://localhost:4200/home" class="header2A">Courses</a>
        </div>
    </div>
    <div class="parent2A">
        <h1 style="color: rgb(250, 248, 248); text-align: center; font-size: 65px; position: relative; top: -20px;">Algorithms</h1>
        <div class="textMainA">
            <p style="position: relative; padding-bottom: 20px; padding-top: 20px;">Welcome to the Data Structures course! In this course, you will learn 
                about the fundamental data structures in computer science and their operations. This course is also a prerequisite for the Algorithms course here on T6xyz,
                so completing the Data Structures course is highly recommended prior to starting the Algorithms course.
            </p>
        </div>
        <hr style="position: relative; width: 90vw; height: 0.1px; border: solid; bottom: -120px;">

        <h2 style="color: rgb(250, 248, 248); text-align: center; font-size: 36px; position: relative; padding-top: 240px;">What Are Algorithms?</h2>
        <div class="textMainA">
            <p style="position: relative; padding-bottom: 50px; padding-top: 150px;">Welcome to the Data Structures course! In this course, you will learn 
                about the fundamental data structures in computer science and their operations. This course is also a prerequisite for the Algorithms course here on T6xyz,
                so completing the data structures course is highly recommended prior to starting the Algorithms course.
            </p>
        </div>
        <h2 style="color: rgb(250, 248, 248); text-align: center; font-size: 36px; position: relative; padding-top: 240px;">Why Are Algorithms Important?</h2>
        <div class="textMainA">
            <p style="position: relative; padding-bottom: 50px; padding-top: 200px;">Data structures create the foundation for many programs and applications 
                in software development and computer science. Although you might not see it directly, many programs utilize data structures implicitly to perform certain tasks. For example,
                the AVL tree is foundational for how a map works in Java and many computers use a stack to organize memory and run subroutines. Software engineers and similar roles alike utilize data structures daily in order to accomplish a 
                large variety of tasks and solve problems that require data to be analyzed and manipulated. 
            </p>
        </div>
        <div class="topicsA">
            <h1 style="color: rgb(250, 248, 248); text-align: center; font-size: 60px; position: relative; padding-top: 280px;">Topics</h1>
            <hr style="position: relative; width: 90vw; height: 0.1px; border: solid; bottom: 25px;">
            <div>
                <mat-card appearance="outlined" class="topicCardA" style="background-color: black;">
                    <a href="" style="height: 175px;">
                        <mat-card-content class="cardTextAA">
                            <p>Graphs</p>
                            <svg class="svgA">
                                <circle r="36" cx="52" cy="52" fill="transparent" stroke="#e0e0e0" stroke-width="2px"></circle>
                                <circle r="36" cx="52" cy="52" stroke="#4CAF41" stroke-width="2px" stroke-linecap="round" stroke-dashoffset="79px" fill="transparent" stroke-dasharray="263.76px"></circle>
                                <text x="34px" y="58px" fill="#d6d6d6" font-size="18px" style="transform:rotate(90deg) translate(0px, -100px)" font-family="Arial">70%</text>
                            </svg>
                        </mat-card-content>
                    </a>
                </mat-card>
            </div>
            <div>
                <mat-card appearance="outlined" class="topicCardA" style="background-color: black;">
                    <a href="" style="height: 175px;">
                        <mat-card-content class="cardTextAA">
                            <p>Shortest Path Algorithms</p>
                            <svg class="svgA">
                                <circle r="36" cx="52" cy="52" fill="transparent" stroke="#e0e0e0" stroke-width="2px"></circle>
                                <circle r="36" cx="52" cy="52" stroke="#4CAF41" stroke-width="2px" stroke-linecap="round" stroke-dashoffset="79px" fill="transparent" stroke-dasharray="263.76px"></circle>
                                <text x="34px" y="58px" fill="#d6d6d6" font-size="18px" style="transform:rotate(90deg) translate(0px, -100px)" font-family="Arial">70%</text>
                            </svg>
                        </mat-card-content>
                    </a>
                </mat-card>
            </div>
            <div>
                <mat-card appearance="outlined" class="topicCardA" style="background-color: black;">
                    <a href="" style="height: 175px;">
                        <mat-card-content class="cardTextAA">
                            <p>Divide and Conquer</p>
                            <svg class="svgA">
                                <circle r="36" cx="52" cy="52" fill="transparent" stroke="#e0e0e0" stroke-width="2px"></circle>
                                <circle r="36" cx="52" cy="52" stroke="#4CAF41" stroke-width="2px" stroke-linecap="round" stroke-dashoffset="79px" fill="transparent" stroke-dasharray="263.76px"></circle>
                                <text x="34px" y="58px" fill="#d6d6d6" font-size="18px" style="transform:rotate(90deg) translate(0px, -100px)" font-family="Arial">70%</text>
                            </svg>
                        </mat-card-content>
                    </a>
                </mat-card>
            </div>
            <div>
                <mat-card appearance="outlined" class="topicCardA" style="background-color: black;">
                    <a href="" style="height: 175px;">
                        <mat-card-content class="cardTextAA">
                            <p>Sorting Algorithms</p>
                            <svg class="svgA">
                                <circle r="36" cx="52" cy="52" fill="transparent" stroke="#e0e0e0" stroke-width="2px"></circle>
                                <circle r="36" cx="52" cy="52" stroke="#4CAF41" stroke-width="2px" stroke-linecap="round" stroke-dashoffset="79px" fill="transparent" stroke-dasharray="263.76px"></circle>
                                <text x="34px" y="58px" fill="#d6d6d6" font-size="18px" style="transform:rotate(90deg) translate(0px, -100px)" font-family="Arial">70%</text>
                            </svg>
                        </mat-card-content>
                    </a>
                </mat-card>
            </div>
            <div>
                <mat-card appearance="outlined" class="topicCardA" style="background-color: black;">
                    <a href="" style="height: 175px;">
                        <mat-card-content class="cardTextAA">
                            <p>Prefix Sum/Sliding Window</p>
                            <svg class="svgA">
                                <circle r="36" cx="52" cy="52" fill="transparent" stroke="#e0e0e0" stroke-width="2px"></circle>
                                <circle r="36" cx="52" cy="52" stroke="#4CAF41" stroke-width="2px" stroke-linecap="round" stroke-dashoffset="79px" fill="transparent" stroke-dasharray="263.76px"></circle>
                                <text x="34px" y="58px" fill="#d6d6d6" font-size="18px" style="transform:rotate(90deg) translate(0px, -100px)" font-family="Arial">70%</text>
                            </svg>
                        </mat-card-content>
                    </a>
                </mat-card>
            </div>
            <div>
                <mat-card appearance="outlined" class="topicCardA" style="background-color: black;">
                    <a href="" style="height: 175px;">
                        <mat-card-content class="cardTextAA">
                            <p>Greedy Algorithms</p>
                            <svg class="svgA">
                                <circle r="36" cx="52" cy="52" fill="transparent" stroke="#e0e0e0" stroke-width="2px"></circle>
                                <circle r="36" cx="52" cy="52" stroke="#4CAF41" stroke-width="2px" stroke-linecap="round" stroke-dashoffset="79px" fill="transparent" stroke-dasharray="263.76px"></circle>
                                <text x="34px" y="58px" fill="#d6d6d6" font-size="18px" style="transform:rotate(90deg) translate(0px, -100px)" font-family="Arial">70%</text>
                            </svg>
                        </mat-card-content>
                    </a>
                </mat-card>
            </div>
            <div>
                <mat-card appearance="outlined" class="topicCardA" style="background-color: black;">
                    <a href="" style="height: 175px;">
                        <mat-card-content class="cardTextAA">
                            <p>Dynamic Programming</p>
                            <svg class="svgA">
                                <circle r="36" cx="52" cy="52" fill="transparent" stroke="#e0e0e0" stroke-width="2px"></circle>
                                <circle r="36" cx="52" cy="52" stroke="#4CAF41" stroke-width="2px" stroke-linecap="round" stroke-dashoffset="79px" fill="transparent" stroke-dasharray="263.76px"></circle>
                                <text x="34px" y="58px" fill="#d6d6d6" font-size="18px" style="transform:rotate(90deg) translate(0px, -100px)" font-family="Arial">70%</text>
                            </svg>
                        </mat-card-content>
                    </a>
                </mat-card>
            </div>
            <div>
                <mat-card appearance="outlined" class="topicCardA" style="background-color: black;">
                    <a href="" style="height: 175px;">
                        <mat-card-content class="cardTextAA">
                            <p>Pattern Matching</p>
                            <svg class="svgA">
                                <circle r="36" cx="52" cy="52" fill="transparent" stroke="#e0e0e0" stroke-width="2px"></circle>
                                <circle r="36" cx="52" cy="52" stroke="#4CAF41" stroke-width="2px" stroke-linecap="round" stroke-dashoffset="79px" fill="transparent" stroke-dasharray="263.76px"></circle>
                                <text x="34px" y="58px" fill="#d6d6d6" font-size="18px" style="transform:rotate(90deg) translate(0px, -100px)" font-family="Arial">70%</text>
                            </svg>
                        </mat-card-content>
                    </a>
                </mat-card>
            </div>
        </div>
        <app-profilebar></app-profilebar>
    </div>
    <app-infobar></app-infobar>
</body>