a {
    text-decoration: none;
    font-size: 22px;
    color: lightgrey;
    position: relative;
    margin-left: 50px;
    transition: 0.4s;
}
a:hover {
    color: grey;
    transition: 0.4s;
}
.hover-class:hover {
    background-color: rgb(40, 40, 40);
    transition: 0.4s;
}
@media screen and (max-width: 659px) {
    .container {
        display: none;
    }
}
