
<div class="containerProfile hiddenProfile" id="profileMain">
    <img [src]="profilePic" class="profileProfile"cid="profileMain">
    <p class="profileNameProfile" id="profileMain">{{ profileName }}</p>
    <hr class="lineProfile" id="profileMain">
    <br>
    <a href="" (click)="toggleElement()" style="bottom: 50px">
        Settings
    </a>
    <br>
    <a href="" (click)="toggleElement()" style="bottom: 30px">
        Premium
    </a>
    <button mat-stroked-button class="hover-class" style="color: rgb(219, 89, 89); display: block; margin-left: auto; margin-right: auto; position: relative; width: 200px; bottom: 10px">Sign Out</button>
</div>