
<div class="containerProfile hiddenProfile" id="profileMain">
    <img [src]="profilePic" class="profileProfile"cid="profileMain">
    <p class="profileNameProfile" id="profileMain">{{ profileName }}</p>
    <hr class="lineProfile" id="profileMain">
    <a href="" (click)="toggleElement()" style="bottom: 40px">
        My Profile
    </a>
    <br>
    <a href="" (click)="toggleElement()" style="bottom: 20px">
        Premium
    </a>
    <br>
    <a href="" (click)="toggleElement()">
        Settings
    </a>
    <br>
    <button mat-stroked-button class="hover-class" style="color: rgb(219, 89, 89); display: block; margin-left: auto; margin-right: auto; position: relative; bottom: -50px; width: 200px;">Sign Out</button>
</div>