<body style="min-height: 0vh;">
    <div class="loginMain">
        <video [src]="pathLoginVid" muted loop autoplay disablepictureinpicture class="videoLogin"></video>
        <a href="" class="loginLink">
            <span class="loginLinkText">Home</span>
        </a>
        <div class="parentLogin">
            <div class="loginContainer">
                <form [formGroup]="loginForm">
                    <h1 style="color: white; text-shadow: 0px 0px 12px black;">Login</h1>
                    <div class="inputLogin">
                        <input  formControlName="username" type="text" placeholder="Username" required id="username">
                    </div>
                    <div class="inputLogin">
                        <input formControlName="password" type="password" placeholder="Password" required id="password">
                    </div>
                    <div class="rememberLogin">
                        <label style="color: white;"><input type="checkbox">Remember me</label>
                        <a href="">Forgot password?</a>
                    </div>
                    <button type="submit" class="btn" (click)="onSubmit()">Login</button>
                    <div class="registerLogin">
                        <p style="color: white;">Don't have an account?<a href=""> Register</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <app-infobar></app-infobar>
</body>