<body>
    <div>
        <img [src]="source" height="130px" width="130px" style="display: block; margin-left: auto; margin-right: auto; margin-top: 120px;">
        <h1 style="text-align: center; color: white; font-size: var(--step-5); position: relative; height: 40px;">Please verify your email</h1>
        <p style="color: lightgrey; text-align: center; font-size: var(--step-0); position: relative;">Thank you for creating an account on T6xyz.io! Next, 
            please check your inbox at <b>{{ email }}</b> for a verification code!
        </p>
    </div>
</body>