.parent {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(47, 46, 46);
}
.child1 {
    background-color: black;
    position: absolute;
    width: 100vw;
    height: 8vh;
    top: 0;
    left: 0;
    opacity: 0.5;
}
.child2 {
    color: rgb(250, 248, 248);
    opacity: 1;
    z-index: 1;
    background: none;
}
.headerText {
    color: rgb(250, 248, 248);
    font-size: 25px;
    margin-top: 24px;
    float: right;
    padding-left: 95px;
}
a {
    position: relative;
    text-decoration: none;
}
a:after {
    content: "";
    display: block;
    background-color: rgb(50, 184, 184);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
}
a:hover {
    color: rgb(250, 248, 248);
}
a:hover:after {
    width: 100%;
}
.child3 {
    color: rgb(250, 248, 248);
    margin-top: 310px;
    margin-left: 200px;
    width: 50vw;
    opacity: 1;
    z-index: 1;
    background: none;
}
.parent2 {
    position: relative;
    width: 100vw;
    height: 90vh;
    background-color: rgb(21, 21, 21);
}
.child4 {
    position: absolute;
    color: rgb(250, 248, 248);
    margin-top: 200px;
    margin-left: 200px;
    width: 50vw;
    opacity: 1;
    z-index: 2;
    background: none;
}
.child5 {
    position: absolute;
    color: rgb(250, 248, 248);
    margin-top: 200px;
    margin-left: 200px;
    width: 50vw;
    opacity: 1;
    z-index: 1;
    background: none;
}
.parent3 {
    position: relative;
    width: 100vw;
    height: 90vh;
    background-color: rgb(49, 49, 49);
}
.parent4 {
    position: relative;
    width: 100vw;
    height: 90vh;
    background-color: rgb(46, 46, 46);
}
.child6 {
    position: absolute;
    color: rgb(250, 248, 248);
    margin-top: 200px;
    margin-left: 200px;
    width: 50vw;
    opacity: 1;
    z-index: 2;
    background: none;
}
.parent5 {
    position: relative;
    width: 100vw;
    height: 8vh;
    background-color: rgb(0, 0, 0);
}
.child7 {
    position: absolute;
    color: rgb(250, 248, 248);
    height: 8vh;
    width: 50vw;
    opacity: 1;
    z-index: 2;
    background: none;
}

.hidden {
    opacity: 0;
    transition: all 1.5s;
    filter: blur(2px);
    transform: translateX(-10%);
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}