.parent {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: white;
}
.child1 {
    background-color: black;
    position: absolute;
    width: 103vw;
    height: 8vh;
    top: 0;
    left: 0;
    opacity: 0.5;
}
.child2 {
    color: white;
    opacity: 1;
    z-index: 1;
    background: none;
}
.headerText {
    color: white;
    font-size: 25px;
    float: right;
    padding-left: 100px;
}
