<body>
    <div class="parent">
        <video [src] = "pathPage1" muted loop autoplay></video>
        <div class="child1">
        </div>
        <div class="child1 child2">
            <img [src] = "path" height="60 px" width="150" style="margin-top: 8px; margin-left: 30px;">
            <p class="headerText" style="margin-right: 240px; font-size: 17px; margin-top: 30px; margin-left: -70px;">or</p>
            <a href="" class="headerText">Sign in</a>
            <a href="" class="headerText">About</a>
            <a href="" class="headerText">Home</a>
            <button mat-flat-button class="temp" style="background-color: rgb(50, 184, 184);">Register</button>
        </div>
        <div class="child1 child3">
            <h1 style="font-size: 70px; ">Data Structures and <br> Algorithms Simplified</h1>
            <p style="font-size: 26px; margin-top: -30px; color: rgb(210, 208, 208);">Learn and gain insight on fundamental data structures and algorithms <br> 
                to pass technical interviews and build crucial problem-solving skills</p>
        </div>
    </div>
    <div class="parent2">
        <video [src] = "pathPage2" muted loop autoplay></video>
        <div class="child1" style="opacity: 0;">
        </div>
        <div class="child1 child4 hidden">
            <h1 style="font-size: 70px;">Learn Fundamental <br> Data Structures</h1>
            <p style="font-size: 26px; margin-top: -30px; color: rgb(210, 208, 208);">
                Learn how to implement fundamental data structures and their operations. 
                <br>Some topics include Array Lists, Linked Lists, Trees, and Stacks/Queues.
            </p>
        </div>
    </div>
    <div class="parent3">
        <video [src] = "pathPage3" muted loop autoplay></video>
        <div class="child1" style="opacity: 0;">
        </div>
        <div class="child1 child5 hidden">
            <h1 style="font-size: 70px;">Learn Fundamental <br> Algorithms</h1>
            <p style="font-size: 26px; margin-top: -30px; color: rgb(174, 170, 170);">
                Learn how to design and implement fundamental algorithms. 
                <br>Some topics include Depth-First Search, Breadth-First Search, <br>
                Sorting, Pattern Matching, and Dynamic Programming.
            </p>
        </div>
    </div>
    <div class="parent4">
        <video [src] = "pathPage4" muted loop autoplay></video>
        <div class="child1" style="opacity: 0;">
        </div>
        <div class="child1 child6 hidden">
            <h1 style="font-size: 70px;">Gain Access to High <br> Quality Leetcode Solutions</h1>
            <p style="font-size: 26px; margin-top: -30px; color: rgb(174, 170, 170);">
                Gain access to high quality, detailed Leetcode solutions including <br>
                solutions to some of the most difficult problems on the site.
        </div>
    </div>
    <div class="parent5">
        <div class="child7">
            <img [src] = "path" height="55 px" width="140" style="margin-top: 10px; margin-left: 5px;">
            <img [src] = "pathYoutube" height="25px" width="25px" style="margin-left: 1370px; float: right; position: absolute; margin-top: 26px;">
            <img [src] = "pathInstagram" height="22px" width="22px" style="margin-left: 1420px; float: right; position: absolute; margin-top: 28px;">
            <a href="https://www.linkedin.com/in/bzwolenik/">
                <img [src] = "pathLinkedin" height="25px" width="25px" style="margin-left: 1470px; float: right; position: absolute; margin-top: 26px;">
            </a>
        </div>
    </div>
</body>
