<body>
    <div class="parentDS">
        <div class="child1DS">
        </div>
        <div class="child1DS child2DS">
            <img [src] = "path" height="60 px" width="150" style="margin-top: 8px;">
            <a (click)="toggleProfile()" class="header1DS">
                <img [src] = "profilePic" class="profileDS" id="icon">
            </a>
            <a href="http://localhost:4200/home" class="header2DS">Courses</a>
        </div>
    </div>
    <div class="parent2DS">
        <h1 style="color: rgb(250, 248, 248); text-align: center; font-size: 70px; position: relative; top: -20px;">Data Structures</h1>
        <div class="textMainDS">
            <p style="position: relative; padding-bottom: 20px; padding-top: 20px;">Welcome to the Data Structures course! In this course, you will learn 
                about the fundamental data structures in computer science and their operations. This course is also a prerequisite for the Algorithms course here on T6xyz,
                so completing the Data Structures course is highly recommended prior to starting the Algorithms course.
            </p>
            <hr style="position: relative; width: 100%; height: 0.1px; border: solid;">
        </div>
        <h2 style="color: rgb(250, 248, 248); text-align: center; font-size: 36px; position: relative; padding-top: 240px;">What Are Data Structures?</h2>
        <div class="textMainDS">
            <p style="position: relative; padding-bottom: 50px; padding-top: 150px;">Welcome to the Data Structures course! In this course, you will learn 
                about the fundamental data structures in computer science and their operations. This course is also a prerequisite for the Algorithms course here on T6xyz,
                so completing the data structures course is highly recommended prior to starting the Algorithms course.
            </p>
        </div>
        <h2 style="color: rgb(250, 248, 248); text-align: center; font-size: 36px; position: relative; padding-top: 240px;">Why Are Data Structures Important?</h2>
        <div class="textMainDS">
            <p style="position: relative; padding-bottom: 50px; padding-top: 200px;">Data structures create the foundation for many programs and applications 
                in software development and computer science. Although you might not see it directly, many programs utilize data structures implicitly to perform certain tasks. For example,
                the AVL tree is foundational for how a map works in Java and many computers use a stack to organize memory and run subroutines. Software engineers and similar roles alike utilize data structures daily in order to accomplish a 
                large variety of tasks and solve problems that require data to be analyzed and manipulated. 
            </p>
        </div>
        <div class="topicsDS">
            <h1 style="color: rgb(250, 248, 248); text-align: center; font-size: 60px; position: relative; padding-top: 280px;">Topics</h1>
            <hr style="position: relative; width: 1300px; height: 0.1px; border: solid; bottom: 25px;">
            <div>
                <mat-card appearance="outlined" class="topicCardDS" style="background-color: black;">
                    <a href="" style="height: 280px;">
                        <mat-card-content class="cardTextDS">
                            <p>Arraylists</p>
                            <svg class="svgDS">
                                <circle r="36" cx="52" cy="52" fill="transparent" stroke="#e0e0e0" stroke-width="2px"></circle>
                                <circle r="36" cx="52" cy="52" stroke="#4CAF41" stroke-width="2px" stroke-linecap="round" stroke-dashoffset="79px" fill="transparent" stroke-dasharray="263.76px"></circle>
                                <text x="34px" y="58px" fill="#d6d6d6" font-size="18px" font-family="Arial" style="transform:rotate(90deg) translate(0px, -100px)">70%</text>
                            </svg>
                        </mat-card-content>
                    </a>
                </mat-card>
            </div>
            <div>
                <mat-card appearance="outlined" class="topicCardDS" style="background-color: black;">
                    <a href="" style="height: 280px;">
                        <mat-card-content class="cardTextDS">
                            <p>Linked Lists</p>
                            <svg class="svgDS">
                                <circle r="36" cx="52" cy="52" fill="transparent" stroke="#e0e0e0" stroke-width="2px"></circle>
                                <circle r="36" cx="52" cy="52" stroke="#4CAF41" stroke-width="2px" stroke-linecap="round" stroke-dashoffset="79px" fill="transparent" stroke-dasharray="263.76px"></circle>
                                <text x="34px" y="58px" fill="#d6d6d6" font-size="18px" font-family="Arial" style="transform:rotate(90deg) translate(0px, -100px)">70%</text>
                            </svg>
                        </mat-card-content>
                    </a>
                </mat-card>
            </div>
            <div>
                <mat-card appearance="outlined" class="topicCardDS" style="background-color: black;">
                    <a href="" style="height: 280px;">
                        <mat-card-content class="cardTextDS">
                            <p>Stacks/Queues</p>
                            <svg class="svgDS">
                                <circle r="36" cx="52" cy="52" fill="transparent" stroke="#e0e0e0" stroke-width="2px"></circle>
                                <circle r="36" cx="52" cy="52" stroke="#4CAF41" stroke-width="2px" stroke-linecap="round" stroke-dashoffset="79px" fill="transparent" stroke-dasharray="263.76px"></circle>
                                <text x="34px" y="58px" fill="#d6d6d6" font-size="18px" font-family="Arial" style="transform:rotate(90deg) translate(0px, -100px)">70%</text>
                            </svg>
                        </mat-card-content>
                    </a>
                </mat-card>
            </div>
            <div>
                <mat-card appearance="outlined" class="topicCardDS" style="background-color: black;">
                    <a href="" style="height: 280px;">
                        <mat-card-content class="cardTextDS">
                            <p>Binary Search Trees</p>
                            <svg class="svgDS">
                                <circle r="36" cx="52" cy="52" fill="transparent" stroke="#e0e0e0" stroke-width="2px"></circle>
                                <circle r="36" cx="52" cy="52" stroke="#4CAF41" stroke-width="2px" stroke-linecap="round" stroke-dashoffset="79px" fill="transparent" stroke-dasharray="263.76px"></circle>
                                <text x="34px" y="58px" fill="#d6d6d6" font-size="18px" font-family="Arial" style="transform:rotate(90deg) translate(0px, -100px)">70%</text>
                            </svg>
                        </mat-card-content>
                    </a>
                </mat-card>
            </div>
            <div>
                <mat-card appearance="outlined" class="topicCardDS" style="background-color: black;">
                    <a href="" style="height: 280px;">
                        <mat-card-content class="cardTextDS">
                            <p>Priority Queue</p>
                            <svg class="svgDS">
                                <circle r="36" cx="52" cy="52" fill="transparent" stroke="#e0e0e0" stroke-width="2px"></circle>
                                <circle r="36" cx="52" cy="52" stroke="#4CAF41" stroke-width="2px" stroke-linecap="round" stroke-dashoffset="79px" fill="transparent" stroke-dasharray="263.76px"></circle>
                                <text x="34px" y="58px" fill="#d6d6d6" font-size="18px" font-family="Arial" style="transform:rotate(90deg) translate(0px, -100px)">70%</text>
                            </svg>
                        </mat-card-content>
                    </a>
                </mat-card>
            </div>
            <div>
                <mat-card appearance="outlined" class="topicCardDS" style="background-color: black;">
                    <a href="" style="height: 280px;">
                        <mat-card-content class="cardTextDS">
                            <p>Hashmap</p>
                            <svg class="svgDS">
                                <circle r="36" cx="52" cy="52" fill="transparent" stroke="#e0e0e0" stroke-width="2px"></circle>
                                <circle r="36" cx="52" cy="52" stroke="#4CAF41" stroke-width="2px" stroke-linecap="round" stroke-dashoffset="79px" fill="transparent" stroke-dasharray="263.76px"></circle>
                                <text x="34px" y="58px" fill="#d6d6d6" font-size="18px" font-family="Arial" style="transform:rotate(90deg) translate(0px, -100px)">70%</text>
                            </svg>
                        </mat-card-content>
                    </a>
                </mat-card>
            </div>   
            <div>
                <mat-card appearance="outlined" class="topicCardDS" style="background-color: black;">
                    <a href="" style="height: 280px;">
                        <mat-card-content class="cardTextDS">
                            <p>Trie/Prefix Trees</p>
                            <svg class="svgDS">
                                <circle r="36" cx="52" cy="52" fill="transparent" stroke="#e0e0e0" stroke-width="2px"></circle>
                                <circle r="36" cx="52" cy="52" stroke="#4CAF41" stroke-width="2px" stroke-linecap="round" stroke-dashoffset="79px" fill="transparent" stroke-dasharray="263.76px"></circle>
                                <text x="34px" y="58px" fill="#d6d6d6" font-size="18px" font-family="Arial" style="transform:rotate(90deg) translate(0px, -100px)">70%</text>
                            </svg>
                        </mat-card-content>
                    </a>
                </mat-card>
            </div>
        </div>
        <app-profilebar></app-profilebar>
    </div>
    <app-infobar></app-infobar>
</body>
