/* You can add global styles to this file, and also import other style files */
:root {
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.24rem + 0.55vw, 1.6663rem);
  --step-2: clamp(1.62rem, 1.4109rem + 1.0454vw, 2.2211rem);
  --step-3: clamp(1.944rem, 1.5904rem + 1.7682vw, 2.9607rem);
  --step-4: clamp(2.3328rem, 1.7715rem + 2.8067vw, 3.9467rem);
}

* {
  user-select: none;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  background: rgb(0, 0, 0);
}

a {
  position: relative;
  text-decoration: none;
}

/* Styles for the aboutme component*/
.parentAbout {
  position: relative;
  width: 100vw;
  height: 70px;
  max-width: 100%;
  max-height: 100%;
  min-height: 70px;
  background-color: black;
}

.showBar:after {
  width: 100%;
}

.showBar2:hover:after {
  width: 100%;
}

.child1About {
  user-select: none;
  overflow: hidden;
  background-color: black;
  position: absolute;
  width: 100vw;
  max-width: 100%;
  height: 70px;
  min-height: 70px;
  top: auto;
  left: 0;
  opacity: 0.5;
  max-height: 70px;
  border-bottom: solid lightgrey 0.5px;
}

.child2About {
  user-select: none;
  overflow: hidden;
  color: rgb(250, 248, 248);
  width: 100vw;
  max-width: 100%;
  height: 70px;
  min-height: 70px;
  opacity: 1;
  z-index: 1;
  background: none;
}

.headerTextAbout {
  color: rgb(216, 214, 214);
  height: 70px;
  min-height: 70px;
  font-size: 25px;
  margin-top: 22px;
  position: relative;
  float: right;
  margin-right: 100px;
  overflow: hidden;
}

.child3About {
  position: absolute;
  width: 100vw;
  max-width: 100%;
  height: 380px;
  min-height: 380px;
  margin-top: 90px;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: black;
  overflow: hidden;
}

.parent2About {
  display: flex;
  position: relative;
  width: 100;
  max-width: 100%;
  height: 900px;
  min-height: 900px;
  overflow: hidden;
  background-color: rgb(8, 8, 8);
}

.profileAbout {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: solid grey 1.5px;
  user-select: none;
}

.header1About {
  width: 0%;
  float: right;
  margin-right: 65px;
  margin-top: 13px;
}

.header2About {
  float: right;
  margin-right: 40px;
  margin-top: 21px;
  color: rgb(250, 248, 248);
  font-size: 25px;
}

.header2About:after {
  content: "";
  display: block;
  background-color: rgb(50, 184, 184);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.4s;
}

.header2About:hover {
  color: rgb(250, 248, 248);
}

.header2About:hover:after {
  width: 100%;
}

.header1About:hover {
  cursor: pointer;
  cursor: hand;
}

.profileAbout:hover {
  cursor: pointer;
  cursor: hand;
}

@media screen and (max-width: 659px) {
  .child2About {
    display: none;
  }
}
.textMainAbout {
  position: absolute;
  left: 50%;
  margin-top: 10px;
  transform: translate(-50%, -50%);
  color: rgb(219, 217, 217);
  font-size: 22px;
  width: 1100px;
  line-height: 30px;
}

.header2About:after {
  content: "";
  display: flex;
  background-color: rgb(50, 184, 184);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.4s;
}

.header2About:hover {
  color: rgb(250, 248, 248);
}

.header2About:hover:after {
  width: 100%;
}

.header1About:hover {
  cursor: pointer;
  cursor: hand;
}

.profileAbout:hover {
  cursor: pointer;
  cursor: hand;
}

.headshotImageAbout {
  height: 290px;
  width: 210px;
  border: solid grey 2px;
  position: relative;
  left: 345px;
  top: 80px;
}

.aboutDivAbout {
  height: 600px;
  width: 600px;
}

.aboutDiv2About {
  position: absolute;
  left: 600px;
}

/* Styles for the profile bar component*/
.containerProfile {
  margin: 0;
  padding: 0;
  height: 370px;
  width: 270px;
  background-color: black;
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 15px 0px 0px 15px;
  border-bottom: solid lightgrey 0.5px;
  border-left: solid lightgrey 0.5px;
  border-top: solid lightgrey 0.5px;
  opacity: 0;
}

.profileProfile {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: solid grey 1.5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.profileNameProfile {
  position: relative;
  text-align: center;
  color: rgb(216, 214, 214);
  font-size: 26px;
  bottom: 25px;
}

.lineProfile {
  position: relative;
  color: rgb(216, 214, 214);
  width: 85%;
  bottom: 47px;
  border: 0.5px solid;
}

.hiddenProfile {
  display: 0;
  filter: blur(1);
  transition: all 0.3s;
  transform: translateX(2%);
}

.showProfile {
  opacity: 1;
  filter: blur(0);
  transition: all 0.3s;
  transform: translateX(0%);
}

/* Styles for the landingpage component*/
.parentLanding {
  position: relative;
  width: 100vw;
  height: 70px;
  max-width: 100%;
  max-height: 100%;
  background-color: black;
}

.parent2Landing {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 1000px;
  min-height: 1000px;
  overflow: hidden;
  background-color: rgb(8, 8, 8);
}

.child1Landing {
  user-select: none;
  overflow: hidden;
  background-color: black;
  position: absolute;
  width: 100vw;
  max-width: 100%;
  height: 70px;
  min-height: 70px;
  top: auto;
  left: 0;
  opacity: 0.5;
  max-height: 70px;
  border-bottom: solid lightgrey 0.5px;
}

.child2Landing {
  user-select: none;
  overflow: hidden;
  color: rgb(250, 248, 248);
  width: 100vw;
  max-width: 100%;
  height: 70px;
  min-height: 70px;
  opacity: 1;
  z-index: 1;
  background: none;
}

.headerTextLanding {
  color: rgb(216, 214, 214);
  height: 70px;
  min-height: 70px;
  font-size: 25px;
  margin-top: 22px;
  position: relative;
  float: right;
  margin-right: 100px;
  overflow: hidden;
}

.child3Landing {
  position: absolute;
  width: 100vw;
  max-width: 100%;
  height: 380px;
  min-height: 380px;
  margin-top: 90px;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: black;
  overflow: hidden;
}

.welcomeLanding {
  color: rgb(237, 237, 237);
  position: relative;
  margin-left: auto;
  margin-right: 450px;
  text-align: center;
  font-size: 55px;
  height: 0px;
}

.welcomeSubtextLanding {
  color: rgb(162, 156, 156);
  position: relative;
  top: 25px;
  height: 0px;
  margin-right: 395px;
  text-align: center;
  margin-left: auto;
  font-size: 18px;
}

.cardDS {
  color: rgb(237, 237, 237);
  position: relative;
  width: 700px;
  margin-top: 70px;
  height: 280px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(250, 248, 248);
  transition: transform 0.5s ease;
  transform: translateY(-1%);
  border-radius: 25px;
}

.cardA {
  color: rgb(237, 237, 237);
  position: relative;
  width: 700px;
  margin-top: 40px;
  height: 280px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(250, 248, 248);
  transition: transform 0.5s ease;
  transform: translateY(-1%);
}

.cardTextDSLanding {
  color: rgb(237, 237, 237);
  font-size: 55px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  align-items: center;
  text-shadow: 1px 1px 2px black, 0 0 25px black;
  backdrop-filter: blur(0.5px);
  border-radius: 25px;
  background: none;
  z-index: 1;
  height: 0px;
}

.cardTextALanding {
  color: rgb(237, 237, 237);
  font-size: 55px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 0px;
  text-align: center;
  align-items: center;
  text-shadow: 1px 1px 2px black, 0 0 25px black;
  backdrop-filter: blur(0.5px);
  border-radius: 25px;
  z-index: 1;
}

.svgLanding {
  position: absolute;
  transform: rotate(-90deg);
  right: 0px;
  top: 175px;
  height: 100px;
  width: 100px;
  cursor: pointer;
}

.cardDS:hover {
  transform: scale(1.025);
  transition: transform 0.5s ease;
}

.cardA:hover {
  transform: scale(1.025);
  transition: transform 0.5s ease;
}

.profileLanding {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: solid grey 1.5px;
  user-select: none;
}

.header1Landing {
  width: 0%;
  float: right;
  margin-right: 65px;
  margin-top: 13px;
}

.header2Landing {
  float: right;
  margin-right: 40px;
  margin-top: 21px;
  color: rgb(250, 248, 248);
  font-size: 25px;
}

.header2Landing:after {
  content: "";
  display: block;
  background-color: rgb(50, 184, 184);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.4s;
}

.header2Landing:hover {
  color: rgb(250, 248, 248);
}

.header2Landing:hover:after {
  width: 100%;
}

.header1Landing:hover {
  cursor: pointer;
  cursor: hand;
}

.profileLanding:hover {
  cursor: pointer;
  cursor: hand;
}

.homeImage {
  border-radius: 25px;
  object-fit: cover;
  width: 100%;
  border-radius: 25px;
  height: 276px;
}

.landingLink {
  height: 276px;
}

/* Styles for the infobar component */
.containerInfobar {
  height: 130px;
  width: 100%;
  max-width: 100%;
  min-height: 130px;
}

.infoText {
  float: right;
  margin-top: 30px;
  padding-right: 35px;
}

/* Styles for the datastructures page component */
.parentDS {
  position: relative;
  width: 100vw;
  height: 70px;
  max-width: 100%;
  max-height: 100%;
  min-height: 70px;
  background-color: black;
}

.showBarDS:after {
  width: 100%;
}

.showBar2DS:hover:after {
  width: 100%;
}

.child1DS {
  user-select: none;
  overflow: hidden;
  background-color: black;
  position: absolute;
  width: 100vw;
  max-width: 100%;
  height: 70px;
  min-height: 70px;
  top: auto;
  left: 0;
  opacity: 0.5;
  max-height: 70px;
  border-bottom: solid lightgrey 0.5px;
}

.child2DS {
  user-select: none;
  overflow: hidden;
  color: rgb(250, 248, 248);
  width: 100vw;
  max-width: 100%;
  height: 70px;
  min-height: 70px;
  opacity: 1;
  z-index: 1;
  background: none;
}

.headerTextDS {
  color: rgb(216, 214, 214);
  height: 70px;
  min-height: 70px;
  font-size: 25px;
  margin-top: 22px;
  position: relative;
  float: right;
  margin-right: 100px;
  overflow: hidden;
}

.child3DS {
  position: absolute;
  width: 100vw;
  max-width: 100%;
  height: 380px;
  min-height: 380px;
  margin-top: 90px;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: black;
  overflow: hidden;
}

.parent2DS {
  position: relative;
  width: 100;
  max-width: 100%;
  height: 2800px;
  min-height: 2800px;
  overflow: hidden;
  background-color: rgb(8, 8, 8);
}

.profileDS {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: solid grey 1.5px;
  user-select: none;
}

.header1DS {
  width: 0%;
  float: right;
  margin-right: 65px;
  margin-top: 13px;
}

.header2DS {
  float: right;
  margin-right: 40px;
  margin-top: 21px;
  color: rgb(250, 248, 248);
  font-size: 25px;
}

.header2DS:after {
  content: "";
  display: block;
  background-color: rgb(50, 184, 184);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.4s;
}

.header2DS:hover {
  color: rgb(250, 248, 248);
}

.header2DS:hover:after {
  width: 100%;
}

.header1DS:hover {
  cursor: pointer;
  cursor: hand;
}

.profileDS:hover {
  cursor: pointer;
  cursor: hand;
}

@media screen and (max-width: 659px) {
  .child2DS {
    display: none;
  }
}
.textMainDS {
  position: absolute;
  left: 50%;
  margin-top: 10px;
  transform: translate(-50%, -50%);
  color: rgb(219, 217, 217);
  font-size: 22px;
  width: 1100px;
  line-height: 30px;
}

.topicCardDS {
  color: rgb(237, 237, 237);
  position: relative;
  margin-top: 30px;
  width: 650px;
  height: 175px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(0, 0, 0);
  border: 1.5px solid rgb(250, 248, 248);
  transition: transform 0.5s ease;
  transform: translateY(-1%);
}

.topicCardDS:hover {
  transform: scale(1.025);
  transition: transform 0.5s ease;
}

.svgDS {
  position: absolute;
  transform: rotate(-90deg);
  top: 75px;
  right: 0px;
  height: 100px;
  width: 100px;
}

.cardTextDS {
  color: rgb(237, 237, 237);
  font-size: 36px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  align-items: center;
  text-shadow: 1px 1px 2px black, 0 0 25px black;
  backdrop-filter: blur(0.5px);
  height: 0px;
}

.topicsDS {
  position: relative;
}

.header2DS:after {
  content: "";
  display: block;
  background-color: rgb(50, 184, 184);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.4s;
}

.header2DS:hover {
  color: rgb(250, 248, 248);
}

.header2DS:hover:after {
  width: 100%;
}

.header1DS:hover {
  cursor: pointer;
  cursor: hand;
}

.profileDS:hover {
  cursor: pointer;
  cursor: hand;
}

/* Styles for the algorithms page */
.parentA {
  position: relative;
  width: 100vw;
  height: 70px;
  max-width: 100%;
  max-height: 100%;
  min-height: 70px;
  background-color: black;
}

.showBarA:after {
  width: 100%;
}

.showBar2A:hover:after {
  width: 100%;
}

.child1A {
  user-select: none;
  overflow: hidden;
  background-color: black;
  position: absolute;
  width: 100vw;
  max-width: 100%;
  height: 70px;
  min-height: 70px;
  top: auto;
  left: 0;
  opacity: 0.5;
  max-height: 70px;
  border-bottom: solid lightgrey 0.5px;
}

.child2A {
  user-select: none;
  overflow: hidden;
  color: rgb(250, 248, 248);
  width: 100vw;
  max-width: 100%;
  height: 70px;
  min-height: 70px;
  opacity: 1;
  z-index: 1;
  background: none;
}

.headerTextA {
  color: rgb(216, 214, 214);
  height: 70px;
  min-height: 70px;
  font-size: 25px;
  margin-top: 22px;
  position: relative;
  float: right;
  margin-right: 100px;
  overflow: hidden;
}

.child3A {
  position: absolute;
  width: 100vw;
  max-width: 100%;
  height: 380px;
  min-height: 380px;
  margin-top: 90px;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: black;
  overflow: hidden;
}

.parent2A {
  position: relative;
  width: 100;
  max-width: 100%;
  height: 3100px;
  min-height: 3100px;
  overflow: hidden;
  background-color: rgb(8, 8, 8);
}

.profileA {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: solid grey 1.5px;
  user-select: none;
}

.header1A {
  width: 0%;
  float: right;
  margin-right: 65px;
  margin-top: 13px;
}

.header2A {
  float: right;
  margin-right: 40px;
  margin-top: 21px;
  color: rgb(250, 248, 248);
  font-size: 25px;
}

.header2A:after {
  content: "";
  display: block;
  background-color: rgb(50, 184, 184);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.4s;
}

.header2A:hover {
  color: rgb(250, 248, 248);
}

.header2A:hover:after {
  width: 100%;
}

.header1A:hover {
  cursor: pointer;
  cursor: hand;
}

.profileA:hover {
  cursor: pointer;
  cursor: hand;
}

.textMainA {
  position: absolute;
  left: 50%;
  margin-top: 10px;
  transform: translate(-50%, -50%);
  color: rgb(219, 217, 217);
  font-size: 22px;
  width: 1100px;
  line-height: 30px;
}

.topicCardA {
  color: rgb(237, 237, 237);
  position: relative;
  margin-top: 30px;
  width: 650px;
  height: 175px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(0, 0, 0);
  border: 1.5px solid rgb(250, 248, 248);
  transition: transform 0.5s ease;
  transform: translateY(-1%);
}

.topicCardA:hover {
  transform: scale(1.025);
  transition: transform 0.5s ease;
}

.svgA {
  position: absolute;
  transform: rotate(-90deg);
  height: 100px;
  width: 100px;
  right: 0px;
  top: 80px;
}

.cardTextAA {
  color: rgb(237, 237, 237);
  font-size: 36px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  align-items: center;
  text-shadow: 1px 1px 2px black, 0 0 25px black;
  backdrop-filter: blur(0.5px);
}

.topicsA {
  position: relative;
}

.header2A:after {
  content: "";
  display: block;
  background-color: rgb(50, 184, 184);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.4s;
}

.header2A:hover {
  color: rgb(250, 248, 248);
}

.header2A:hover:after {
  width: 100%;
}

.header1A:hover {
  cursor: pointer;
  cursor: hand;
}

.profileA:hover {
  cursor: pointer;
  cursor: hand;
}

/* MEDIA QUERIES*/
@media screen and (max-width: 1310px) {
  .cardDS {
    width: 660px;
    height: 260px;
  }
  .cardA {
    width: 660px;
    height: 260px;
  }
  .linkLanding {
    height: 256px;
  }
  .homeImage {
    height: 256px;
  }
  .svgLanding {
    height: 95px;
    width: 95px;
    top: 161px;
    right: 5px;
  }
  .welcomeLanding {
    margin-right: 410px;
  }
  .welcomeSubtextLanding {
    margin-right: 355px;
  }
}
@media screen and (max-width: 1130px) {
  .cardDS {
    width: 660px;
    height: 260px;
  }
  .cardA {
    width: 660px;
    height: 260px;
  }
}
@media screen and (max-width: 800px) {
  .cardDS {
    width: 580px;
    height: 180px;
  }
  .cardA {
    width: 580px;
    height: 180px;
  }
  .linkLanding {
    height: 176px;
  }
  .homeImage {
    height: 176px;
    filter: blur(1.5px);
  }
  .svgLanding {
    height: 95px;
    width: 95px;
    top: 80px;
    right: 5px;
  }
  .cardTextALanding {
    font-size: 50px;
  }
  .cardTextDSLanding {
    font-size: 50px;
  }
  .welcomeLanding {
    margin-right: 330px;
  }
  .welcomeSubtextLanding {
    margin-right: 275px;
  }
}
@media screen and (max-width: 659px) {
  .parent2Landing {
    display: none;
  }
  .containerInfobar {
    display: None;
  }
  .header2Landing {
    display: None;
  }
  .header1Landing {
    display: None;
  }
}
@media screen and (max-width: 1155px) {
  .textMainA {
    font-size: 19px;
    width: 940px;
  }
  .textMainDS {
    font-size: 19px;
    width: 940px;
  }
}
@media screen and (max-width: 970px) {
  .textMainA {
    font-size: 17px;
    width: 740px;
  }
  .textMainDS {
    font-size: 17px;
    width: 740px;
  }
}
@media screen and (max-width: 769px) {
  .textMainA {
    font-size: 15px;
    width: 630px;
  }
  .textMainDS {
    font-size: 15px;
    width: 630px;
  }
}
@media screen and (max-width: 659px) {
  .parent2A {
    display: none;
  }
  .parent2DS {
    display: none;
  }
  .containerInfobar {
    display: None;
  }
  .header2A {
    display: None;
  }
  .header1A {
    display: None;
  }
  .header2DS {
    display: None;
  }
  .header1DS {
    display: None;
  }
}

/* Styles for the DP lecture component */
.parentLecturedp {
  position: relative;
  width: 100vw;
  height: 70px;
  max-width: 100%;
  max-height: 100%;
  min-height: 70px;
  background-color: black;
}

.showBarLecturedp:after {
  width: 100%;
}

.showBar2Lecturedp:hover:after {
  width: 100%;
}

.child1Lecturedp {
  user-select: none;
  overflow: hidden;
  background-color: black;
  position: absolute;
  width: 100vw;
  max-width: 100%;
  height: 70px;
  min-height: 70px;
  top: auto;
  left: 0;
  opacity: 0.5;
  max-height: 70px;
  border-bottom: solid lightgrey 0.5px;
}

.child2Lecturedp {
  user-select: none;
  overflow: hidden;
  color: rgb(250, 248, 248);
  width: 100vw;
  max-width: 100%;
  height: 70px;
  min-height: 70px;
  opacity: 1;
  z-index: 1;
  background: none;
}

.headerTextLecturedp {
  color: rgb(216, 214, 214);
  height: 70px;
  min-height: 70px;
  font-size: 25px;
  margin-top: 22px;
  position: relative;
  float: right;
  margin-right: 100px;
  overflow: hidden;
}

.child3Lecturedp {
  position: absolute;
  width: 100vw;
  max-width: 100%;
  height: 380px;
  min-height: 380px;
  margin-top: 90px;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: black;
  overflow: hidden;
}

.parent2Lecturedp {
  position: relative;
  overflow-x: hidden;
  display: flex;
  background-color: rgb(8, 8, 8);
  height: 800px;
}

.profileLecturedp {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: solid grey 1.5px;
  user-select: none;
}

.header1Lecturedp {
  width: 0%;
  float: right;
  margin-right: 65px;
  margin-top: 13px;
}

.header2Lecturedp {
  float: right;
  margin-right: 40px;
  margin-top: 21px;
  color: rgb(250, 248, 248);
  font-size: 25px;
}

.header2Lecturedp:after {
  content: "";
  display: block;
  background-color: rgb(50, 184, 184);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.4s;
}

.header2Lecturedp:hover {
  color: rgb(250, 248, 248);
}

.header2Lecturedp:hover:after {
  width: 100%;
}

.header1Lecturedp:hover {
  cursor: pointer;
  cursor: hand;
}

.profileLecturedp:hover {
  cursor: pointer;
  cursor: hand;
}

.textMainLecturedp {
  position: absolute;
  left: 50%;
  margin-top: 10px;
  transform: translate(-50%, -50%);
  color: rgb(219, 217, 217);
  font-size: 22px;
  width: 1100px;
  line-height: 30px;
}

.header2Lecturedp:after {
  content: "";
  display: block;
  background-color: rgb(50, 184, 184);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.4s;
}

.header2Lecturedp:hover {
  color: rgb(250, 248, 248);
}

.header2Lecturedp:hover:after {
  width: 100%;
}

.header1Lecturedp:hover {
  cursor: pointer;
  cursor: hand;
}

.profileLecturedp:hover {
  cursor: pointer;
  cursor: hand;
}

.lecturelistdivdp {
  width: 400px;
  height: 700px;
  min-width: 400px;
  justify-content: center;
  position: relative;
  display: table-cell;
  text-align: center;
  overflow: hidden;
}

.lecturelistdp {
  width: 360px;
  position: relative;
  margin: 100px auto 0;
  padding: 10px;
  box-sizing: border-box;
  bottom: 100px;
}

.lecturelistdpitem {
  border: solid rgb(17, 17, 17) 2px;
  display: flex;
  padding: 1px 15px;
  width: 300px;
  background-color: rgb(25, 25, 25);
  color: rgb(224, 224, 224);
  margin: 1px 0;
  transition: 0.5s;
  font-size: 19px;
}

.lecturelistdpitem:hover {
  background-color: rgb(145, 145, 145);
  cursor: pointer;
}

.selected:hover {
  background-color: rgb(156, 183, 251);
  cursor: pointer;
}

.selected {
  background-color: rgb(156, 183, 251);
  border-left: solid rgb(0, 0, 172) 6px; 
  color: rgb(31, 31, 31); 
  position: relative; 
}

.lecturedp1Div {
  display: table-cell;  
  background-color: rgb(8, 8, 8);
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.lecturedp2Div {
  display: table-cell; 
  background-color: rgb(8, 8, 8);
  height: 1142px;
  width: 100%;
}

.lecturedp3Div {
  display: table-cell; 
  background-color: rgb(8, 8, 8);
  height: 1142px;
  width: 100%;
}

.lecturedp4Div {
  display: table-cell; 
  background-color: rgb(8, 8, 8);
  height: 1142px;
  width: 100%;
}

.lecturedp5Div {
  display: table-cell; 
  background-color: rgb(8, 8, 8);
  height: 1142px;
  width: 100%;
}

.lecturedp6Div {
  display: table-cell; 
  background-color: rgb(8, 8, 8);
  height: 1142px;
  width: 100%;
}
.lecture1dpText {
  color: white;
  font-size: var(--step-0);
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  transform: scale(1.025);
  transition: transform 0.5s ease;
}
p {
  line-height: 30px;
}
/* Styles for the login component */
.loginMain {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.parentLogin {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 2;
}
.loginContainer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 420px;
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}
.loginContainer h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 36px;
  text-align: center;
}
.loginContainer .inputLogin {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.inputLogin input {
  margin: 0;
  padding: 0 0 0 7px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  backdrop-filter: blur(12px);
}
.inputLogin input::placeholder {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  color: white;
}

.loginContainer .rememberLogin {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.rememberLogin label input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  accent-color: white;
  margin-right: 3px;
}

.rememberLogin a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
}

.rememberLogin a:hover {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: underline;
}

.loginContainer .btn {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  border: none;
  background-color: rgb(37, 143, 143);
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: rgb(238, 238, 238);
  font-weight: 600;
}

.loginContainer .registerLogin {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.registerLogin p a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.registerLogin p a:hover {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: underline;
}
.parent2Login {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 130px;
  min-height: 130px;
  background-color: rgb(8, 8, 8);
}
.videoLogin {
  position: absolute;
  filter: blur(3px);
  filter: drop-shadow(3px);
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 2;
}
.loginLink {
  font-size: 25px;
  color: white;
  position: absolute;
  height: 0;
  top: 35px;
  left: 80px;
  z-index: 10;
  cursor: pointer;
}
.loginLinkText { 
  border-radius: 15px;
  cursor: pointer;
}

.loginLinkText:after {
  content: "";
  display: block;
  background-color: rgb(50, 184, 184);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.4s;
}
.loginLinkText:hover {
  color: rgb(250, 248, 248);
}
.loginLinkText:hover:after {
  width: 100%;
}
@media screen and (max-width: 659px) {
  .loginLink {
    display: none;
  }
  .parent2Login {
    display: none;
  }
}
/* Styles for the register component */
/* Styles for the home component */
.parentHome {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 900px;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}
.child1Home {
  background-color: rgb(0, 0, 0);
  position: absolute;
  width: 100vw;
  max-width: 100%;
  height: 70px;
  min-height: 50px;
  top: 0;
  left: 0;
  opacity: 0.5;
  overflow: hidden;
}
.child2Home {
  color: rgb(250, 248, 248);
  width: 100vw;
  max-width: 100%;
  height: 60vh;
  opacity: 1;
  z-index: 1;
  background: none;
  overflow: hidden;
}
.headerTextHome {
  color: rgb(250, 248, 248);
  font-size: 25px;
  margin-top: 24px;
  position: relative;
  float: right;
  padding-left: 5vw;
  right: 10vw;
  overflow: hidden;
  cursor: pointer;
}
.child2Home a {
  position: relative;
  text-decoration: none;
}
.child2Home a:after {
  content: "";
  display: block;
  background-color: rgb(50, 184, 184);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.4s;
}
.child2Home a:hover {
  color: rgb(250, 248, 248);
}
.child2Home a:hover:after {
  width: 100%;
}
.parent2Home {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 900px;
  min-height: 900px;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}
.child3Home {
  background-color: rgb(162, 156, 156);
  position: absolute;
  width: 100vw;
  height: 300px;
  min-height: 300px;
  max-width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  overflow: hidden;
}
.child4Home {
  color: rgb(245, 240, 240);
  margin-top: 310px;
  margin-left: 10vw;
  width: 100vw;
  max-width: 100%;
  opacity: 1;
  z-index: 1;
  background: none;
  white-space: nowrap;
  height: 300px;
  min-height: 300px;
  overflow: hidden;
}
.child5Home {
  background-color: rgb(162, 156, 156);
  position: absolute;
  width: 100vw;
  max-width: 100%;
  height: 300px;
  min-height: 300px;
  top: 0;
  left: 0;
  opacity: 0.5;
  overflow: hidden;
}
.child6Home {
  position: absolute;
  color: rgb(250, 248, 248);
  margin-top: 200px;
  margin-left: 10vw;
  width: 100vw;
  max-width: 100%;
  height: 300px;
  min-height: 300px;
  opacity: 1;
  z-index: 2;
  background: none;
  white-space: nowrap;
  overflow: hidden;
}
.parent3Home {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 900px;
  min-height: 900px;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}
.child7Home {
  background-color: rgb(162, 156, 156);
  position: absolute;
  width: 100vw;
  max-width: 100%;
  height: 350px;
  min-height: 350px;
  top: 0;
  left: 0;
  opacity: 0.5;
  overflow: hidden;
}
.child8Home {
  position: absolute;
  color: rgb(250, 248, 248);
  margin-top: 200px;
  margin-left: 10vw;
  width: 100vw;
  max-width: 100%;
  height: 350px;
  min-height: 350px;
  opacity: 0;
  z-index: 1;
  background: none;
  white-space: nowrap;
  overflow: hidden;
}
.parent4Home {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}
.child9Home {
  background-color: rgb(162, 156, 156);
  position: absolute;
  width: 100vw;
  max-width: 100%;
  height: 300px;
  min-height: 300px;
  top: 0;
  left: 0;
  opacity: 0.5;
  overflow: hidden;
}
.child10Home {
  position: absolute;
  color: rgb(250, 248, 248);
  margin-top: 200px;
  margin-left: 10vw;
  width: 100vw;
  max-width: 100%;
  height: 300px;
  min-height: 300px;
  opacity: 1;
  z-index: 2;
  background: none;
  white-space: nowrap;
  overflow: hidden;
}
.hiddenHome {
  opacity: 0;
  transition: all 1.5s;
  filter: blur(2px);
  transform: translateX(-10%);
}
.showHome {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.buttonHome {
  margin-top: 16px;
  overflow: hidden;
}
.videoHome {
  filter: blur(3px);
  filter: drop-shadow(3px);
  width: 100vw;
  height: 50vh;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 600px) {
  .headerTextHome {
      opacity: 0;
  }
  .bottomTextHome {
      opacity: 0;
  }
}
@media screen and (max-height: 336px) {
  .child8Home {
      font-size: 2px;
  }
}